@font-face { font-family: Aeonik; src: url('Aeonik-Medium.otf'); } 
@font-face { font-family: Aeonik; font-weight: bold; src: url('Aeonik-Black.otf');}
@font-face { font-family: Aeonik; font-weight: 200; src: url('Aeonik-Light.otf');}

@import url("https://fonts.googleapis.com/css?family=Lato:400,600,700|Work+Sans:400,700,800");
@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap");
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,700,800&display=swap');

/*customized*/

.pill h3 {
  color: #3E67D6;
  font-weight: 700;
}

.bd h3 {
  color: #47B756;
  font-weight: 700;
}

/*layout*/


html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.header {
  background-color:black;
}

hr {

  margin-top:3em; 
  margin-bottom: 3em;
}

.page-title h1 {
  position: relative;
  padding-bottom: 30px;
}

.page-title h1:after {
  position: absolute;
  content: "";
  left: 50%;
  bottom: 0px;
  width: 40px;
  height: 2px;
  margin-left: -25px;
  background: #1425ca;
}

.section {
  padding: 120px 0px;
}

.section-sm {
  padding: 60px 0px;
}

body {
  font-family: Aeonik, sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 15px;
  line-height: 1.7em;
  /*color: #141823;*/
}

.portfolio {
  padding-bottom: 50px;
}

.portfolio .btn:focus, .portfolio .btn:hover, .portfolio .btn.focus.active {
  box-shadow: none !important;
  outline: 0 !important;
}

.portfolio .btn-group .btn {
  border-radius: 0px !important;
  padding-left: 0px;
  font-weight: 700;
}

.portfolio .btn-group .btn:hover {
  color: #1425ca;
}


.portfolio .btn.active {
  color: #1425ca;
}


.footer {
  padding: 60px 0px;
}

/*layout*/


/*Typography*/

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
  font-family:'Aeonik', sans-serif;
  color: #292828;
}

h1, .h1 {
  font-size: 50px;
}

h2, .h2 {
  font-size: 30px;
  line-height: 52px;
}

h3, .h3 {
  font-size: 24px;
  line-height: 34px;
}

h4, .h4 {
  font-size: 20px;
  line-height: 30px;
}

h5, .h5 {
  font-size: 16px;
  line-height: 26px;
}

h6, .h6 {
  font-size: 14px;
}

p {
  /*color: #5E5E5E;*/
}

@media (max-width: 575px) {
  h2, .h2 {
    font-size: 32px;
    line-height: 43px;
  }
}

@media (max-width: 400px) {
  h2, .h2 {
    font-size: 32px;
    line-height: 43px;
  }
}

.text-color {
  color: #1425ca;
}

.highlighter {
  background-color: #FFF97A;
 }

mark {
  background-color: #FFF97A;
  padding: 3px 5px;
  border-radius: 3px;
}

.footer-text {
  color: #1425ca;
;
}

.footer-widget a {
  color: #1425ca;
  text-transform: capitalize;
}

.footer-widget a:hover {
  color: black;
}

/*Typography*/

/*btn*/

.btn {
  padding: 18px 38px;
  border: 2px solid transparent;
  font-size: 14px;
  line-height: 14px;
  font-weight: 600;
  box-shadow: #999999 0px 0px 0px 0px;
}

.btn:focus {
  outline: 0px;
  border: 0px;
  box-shadow: none;
}

.btn-main {
  background: #1425ca;
;
  color: #fff;
}

.btn-main:hover {
  color: #fff !important;
  background: #000;
}

.btn-black {
  background: #000;
  color: #fff;
}

.btn-black:hover {
  background: #1425ca;
  color: #fff;
}

.btn-white {
  background: #fff;
  color: #000;
  border-color: #fff;
}

.btn-white:hover {
  background: transparent;
  color: #fff;
}
/*btn*/

/* btn */

.bg-primary {
  background: #1425ca !important;
}

.bg-secondary {
  background: #f7f7f7 !important;
}

.bg-extra {
  background: #e8eefb !important;
}

/* btn */


/* a & hover*/

a {
  color: #1425ca;
;
  transition: all .25s ease;
}

a:hover {
  color: #000;
  text-decoration: none;
  outline: none;
}

.nav-link {
  color: #000;
}

.nav-link:hover {
  color: #1425ca;
;
}
/*hover*/

/*nav*/
.main-nav .header-top-socials a {
  letter-spacing: 1px;
  font-size: 14px;
  padding: 20px 6px;
}

.navbar-nav .nav-link {
  padding: 20px 15px !important;
  font-size: 14px;
  letter-spacing: 1px;

}

.navbar-nav>.active> a, 
.navbar-nav>.active> a:focus, 
.navbar-nav>.active> a:hover {
  color: #1425ca; /* Anything you want */
}
/*nav*/

/* floating animation - start */
.floating {  
  animation-name: floating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes floating {
  from { transform: translate(0,  0px); }
  65%  { transform: translate(0, 15px); }
  to   { transform: translate(0, -0px); }    
}
/* floating animation - end */


/*scroll down*/
.scroll-down {
  opacity: 1;
  -webkit-transition: all .5s ease-in 3s;
  transition: all .5s ease-in 3s;
  scroll-behavior: smooth;
}

.scroll-down {
  position: absolute;
  bottom: 30px;
  left: 50%;
  margin-left: -16px;
  display: block;
  width: 32px;
  height: 32px;
  border: 2px solid #1425ca;
  background-size: 14px auto;
  border-radius: 50%;
  z-index: 2;
  -webkit-animation: bounce 2s infinite 2s;
  animation: bounce 2s infinite 2s;
  -webkit-transition: all .2s ease-in;
  transition: all .2s ease-in;
  transform: scale(1)
  scroll-behavior: smooth;
}

.scroll-down:before {
    position: absolute;
    top: calc(50% - 8px);
    left: calc(50% - 6px);
    transform: rotate(-45deg);
    display: block;
    width: 12px;
    height: 12px;
    content: "";
    border: 2px solid #1425ca;
    border-width: 0px 0 2px 2px;
    scroll-behavior: smooth;
}

@keyframes bounce {
  0%,
  100%,
  20%,
  50%,
  80% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  60% {
    -webkit-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    transform: translateY(-5px);
  }
}
